*{
	box-sizing: border-box;
}

:root{
	 --primary: #0B88B0;
	 --secondary: #E5ECEC;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/weather1.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  postion: relative;
}
header div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  height: 10%;
  margin-bottom: 50px;
}
header h2, header p {
  color: white;
  margin: 0;
}

main form {
  margin: auto;
  height: 5%;
  width: 50%;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;   
}

main input, main button{
	border: 2px solid white;	
	height: 30px;
}
main input {
 border-radius: 10px 0 0 10px;
 background: grey;
 color: white;
 padding-left: 10px;
}
main button {
  color: white;
  border-radius: 0 10px 10px 0;
  background: darkgreen;
}

main #weather-location{
	/* background: var(--secondary); */
	width: 80%;
	height: 270px;
	/* border: 5px solid black; */
	border-radius: 20px; 
	position: absolute;
	background: #dde1e7;
	box-shadow: 5px 5px 10px #212121, -5px -5px 10px #EFF8F4;
	margin: 0;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}
main .location-city, .location-date, .temp-value, .temp-reading, .weather-icon {
  color: darkgreen;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}
main .location-date{
	font-size: 20px;
}

footer{
	height: 50px;
	background: rgb(0, 0, 225);
	position: absolute;
	bottom: 10px;
}

/* for medium and large screen */
@media screen and (min-width: 678px) {
	body {
    background-size: cover;    
  }
  main form {
    margin-bottom: 100px;
  }
} 